################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UsersOnline-SignalR/packages
/UsersOnline-SignalR/UsersOnline-SignalR/App_Data/aspnet-UsersOnline-SignalR-20170526092058_log.ldf
/UsersOnline-SignalR/UsersOnline-SignalR/App_Data/aspnet-UsersOnline-SignalR-20170526092058.mdf
/UsersOnline-SignalR/UsersOnline-SignalR/bin
/UsersOnline-SignalR/UsersOnline-SignalR/obj/Debug
