@model UsersOnline_SignalR.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @foreach (var user in Model.Users)
        {
            <div class="user row">
                <div class="col-xs-10">
                    @user.UserName
                </div>
                <div class="col-xs-2">
                    <div class="log-bulb" data-user-name="@user.UserName"></div>
                </div>
            </div>
        }
    </div>
</div>

